{% extends "base.html" %}
{% load avatar %}

{% block content %}

  <h1 class="my-3">{{post.title}}</h1>

  <div class="d-flex justify-content-between border-bottom pb-2">
    <div class="d-flex align-items-center">
      {% avatar post.owner%}
    </div>
    <div>
      <i class="far fa-clock"></i>
      {{post.created | date:'Y-m-d H:i'}}
    </div>
  </div>
  <div>
    {% for file in post.files.all %}
      <a href="{%url 'blog:download' file.id%}">
        <i class="fas fa-file"></i>
        {{file.filename}}
      </a>
    {% endfor %}
  </div>

  <div class="mt-3">
    {{post.content|safe}}
  </div>

  <div class="mt-5">
    <a href="javascript:history.back()" class="btn btn-primary">
      <i class="fas fa-list"></i>
      목록</a>
    {% if user == post.owner %}
      <a href="{% url 'blog:update' post.id %}" class="btn btn-primary">
        <i class="fas fa-edit"></i>
        수정</a>
      <button class="btn btn-danger" onclick="deletePost()">
        <i class="fas fa-trash-alt"></i>
        삭제</button>
    {% endif %}
  </div>

  <hr>
  {% if user.is_authenticated and user != post.owner %}
    <div class="">
      <form>
        <textarea class="form-control" style="height:100px" required="required"></textarea>
        <div class="my-1 d-flex align-items-center justify-content-between">
          <div>{% avatar user %}</div>
          <button type="submit" class="btn btn-outline-secondary py-0">
            <i class="fas fa-check"></i>
            등록
          </button>
        </div>
      </form>
    </div>
  {% endif %}
{% endblock %}

{% block script %}
  <script>
    function deletePost() {
      if (!confirm('삭제할까요?')) 
        return;
      location.href = "{% url 'blog:delete'  post.id %}";
    }
  </script>
{% endblock %}

<button type="button" class="btn btn-primary">
  <i class="fas fa-check"></i>
  등록
</button>