{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load avatar%}
{% block content %}
  <div>
    <h1>
      <i class="fas fa-edit"></i>
      {% if form.title.value %}
        글 수정
      {% else %}
        글 쓰기
      {% endif %}
    </h1>

    <form action="." method="post" class="mt-5" enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form form %}

      <button type="submit" class="btn btn-primary">
        <i class="fas fa-check"></i>
        확인
      </button>

      <a href="javascript:history.back()" class="btn btn-primary">
        <i class="fas fa-undo"></i>
        취소
      </a>
    </form>
  </div>
{% endblock %}